* {
  box-sizing: border-box;
}
a {
  color: white;
}
.wrapper{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  .side-bar{
    width: 300px;
    box-sizing: border-box;
    height: 100vh;
    color: #000;
    float: left;
    .side-bar__header {
      background-color: #253141;
      height: 100px;
      display: flex;
      padding: 0 20px;
      align-items: center;
      &__box{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-weight: bold;        
        font-size: 16px; 
        color: white;
        &__menu {
          display: flex;
          &__new-group {
            margin-left: 0.3rem;
            a {
              font-size: inherit;
            }
          }
          &__edit-user {
            margin-left: 0.3rem;
            a {
              font-size: inherit;
            }
          }
        }
      }
      }
    }
  }

.side-bar__groups {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  bottom: 0;
  overflow: scroll;
  padding: 0 20px;
  .group{
    width: 100%;
    a{
      color: white;
      font-weight: bold;
      text-decoration: none;
      .group__group-name{
        font-size: 15px;
        padding-top: 20px;
        padding-bottom: 5px;
      }
      .group__latest-message{
        font-size: 11px;
        padding-top: 5px;
        padding-bottom: 40px;
      }
    }
  }
}

.main{
  background-color: #ffffff;
  width: calc(100vw - 300px);
  float: left;
}

.main__main-header{
  height: 100px;
  line-height: 100px;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  overflow: scroll;
  border-bottom: solid 1px #eee;
  &__left-box{
    margin-top: 35px;
    &__current-group{
      font-size: 20px;
      color: #333;
      margin-bottom: 15px;
    }
    &__member-list{
      display: flex;
      font-size: 12px;
      color: "#999999";
    }
  }
  &__edit-btn{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 30px;
    border: solid 1px #38aef0;
    position: absolute;
    right: 40px;
  }
}

.main__contents{
  height: calc(100vh - 190px);
  padding: 45px 40px;
  background-color: #fafafa;
  overflow: scroll;
}

.form {
  background-color: #DDDDDD;
  box-sizing: border-box;
  height: 90px;
  padding: 20px 50px 20px 40px;
  &__message {
    border: none;
    float: left;
    height: 50px;
    width: calc(100% - 150px);
  }
  &__mask {
    background-color: white;
    float: left;
    height: 50px;
    padding-right: 10px;
    &__image {
      font-size: 20px;
      line-height: 50px;
    }
    .hidden {
      display: none;
    }
  }
  &__submit {
    background-color: lightBlue;
    color: white;
    float: right;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
  }
}